body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.anchor{
    text-decoration: none;
    color: maroon;
    background-image: linear-gradient(Gray, tomato);
   padding: 10px 40px;
   font-size: 15px;
   border-radius: 7px;
}
.h1{ font-size: 45px;
    font-weight: 700;
}
.name{
    color: brown ;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.Dreamhead{
    font-size: 40px;
    font-weight: 700;
}
.Dreamparagraph{
    font-size: 25px;
}
.h3{
    font-size: 25px;
}
.midsection{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.ex-title{
    font-size: 35px;
}
.experience{
    display: flex;
}
.ex-box{
    display: flex;
}
#fswd{
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
    box-shadow: 10px 10px 40px tomato;
    padding: 5%;
    border-image: liniar-gradient(tomato,cyan);
    border-image-slice: 1;
    border-left: 8px solid;
}
#bwd{
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
    box-shadow: 10px 10px 40px tomato;
    padding: 5%;
    border-image: liniar-gradient (blue,cyan);
    border-image-slice: 1;
    border-left: 8px solid;
}